{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-3">
    <h3 class="text-center">Вот что я умею</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        HTML/CSS
      </li>
      <li class="list-group-item">
        Bootstrap
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Изучаем Python на практике</p>
    <p>Сложности возникли с темой Валидация форм</p>
  </article>
</div>
{% endblock %}
